/* Conservez ces lignes de css */

@import url("https://web3.tim-momo.com/carre/styles.css");

.back {
  aspect-ratio: 5 / 7;
}

.carte {
  aspect-ratio: 5 / 7;
}

.bg-danger {
  background-color: rgb(255, 0, 0) !important; 
}

.flip {
  transform: rotate(180);
}
